/*Contenedor de imagenes*/
.conten-img{
    height:200px;
    overflow:hidden;
}

.list_laboratorio{
    position:relative;
    top: 40px;
}

/*imagen*/
.lab-image{
    width:100%;
    height: 100%;
    object-fit: cover;
}

/*Contendor de imagenes de responsable*/
.resp-image{
    height:50px;
    width:50px;
    border-radius: 50%;
    border: 3px solid #000;
    overflow:hidden;
    margin: 0 auto 20px auto;
}

/*Imagen de responsable*/
.imgRespAcad{
    height: 100%;
}

.card-title{
    color: #312783;
    font-weight: bold;
    text-align:center;
    font-size: 18px;
    height: auto !important; 
    margin-bottom: 15px;
}

.card-body__{
    text-align:center;
}

.lblNombre{
    display: block;
    height: 50px;
    margin-bottom: 50px;
}

h6{
    font-size: 13px;
    font-weight: bold;
}

.bar-left{
    border-left:2px solid #312783;
}

@media screen and (max-width: 767px){
    .container-fluid {
        width: auto !important;
        max-width: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .conten-img{
        height: auto;
    }

    .columna{
        display: flex !important;
    }

    .fila{
        width: 50%;
    }

    .btn{
        margin-top: 20px;
    }
}
