/*Contenedor de imagenes*/
.conten-img{
    height:200px;
    overflow:hidden;
}

.list_laboratorio{
    position:relative;
    top: 40px;
}

/*imagen*/
.lab-image{
    width:100%;
}

/*Contendor de imagenes de responsable*/
.resp-image{
    height:50px;
    width:50px;
    border-radius: 50%;
    border: 3px solid #000;
    overflow:hidden;
    margin: 0 auto 20px auto;
}

/*Imagen de responsable*/
.imgRespAcad{
    height: 100%;
}

.card-title{
    color: #312783;
    font-weight: bold;
    text-align:center;
    font-size: 18px;
}

.card-body__{
    text-align:center;
}

.lblNombre{
    height: 50px;
    margin-bottom: 20px;
}

h6{
    font-size: 13px;
    font-weight: bold;
}
        
.card-title{
    height: 45px; 
    margin-bottom: 15px;
}
