td{
    word-wrap: break-word;
    white-space: normal;
}

.content{
    text-align:center !important;
}

.content-img{
    display: flex;
    justify-content: center;
    height:50px !important; 
    width: 75px;
    margin:auto;
    overflow:hidden;
}

.content .content-img .img-personalized{
    height: 100% !important; 
    text-align:center;
}

.softwareContainer{
    max-height: 75px; 
    overflow-y: auto; 
    border: 1px solid #cccccc; 
    border-radius: 5px;
}

.softwareContainer .item{
    width:100%; 
    border:none; 
    box-shadow:none;
}